:root{
  --theme: #c2185b;
}
.App {
  
}

body{
  margin:0px;
  padding:0px;
}

.nav-bar{
  /* border:1px solid; */
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: var(--theme);
  padding:10px;
}

.mylogo{
  display: flex;
  flex: 1;
}

.nav-bar ul{
  display: flex;
  flex:1;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  
}

.nav-bar li {
  /* margin-left: 10px; */
}

.nav-bar a{
  text-decoration: none;
  color: rgb(245, 245, 245);
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
